@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

body{
    color: var(--mainBlack);
    font-family: "Lato", sans-serif;
    background-color: var(--bodyColor);
    position: relative;
}

.navbar-container{
    display: flex;
    justify-content: center;
    height: 60px;
    background: var(--secondaryColor);
    align-items: center;

}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    padding: 0 1rem;
}

.nav-title{
    color: var(--mainBlack);
    font-size: 1.2rem;
}

.menu-icon i, .cart-icon i{
    color: var(--primaryColor);
    font-size: 1.5rem;
}

.menu-icon{
    cursor: pointer;
}

.cart-icon{
    position: relative;
    cursor: pointer;
}

.cart-items{
    width: 20px;
    height: 20px;
    background-color: var(--mainRed);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12px;
    right: -15px;
    color: var(--mainWhite);
    font-size: 0.75rem;
}

/* end of navbar */


.section-title{
    margin: 2rem 0;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.products-center{
    max-width: 1170px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 3.5rem;
}

.product{
    background-color: var(--mainWhite);
    padding-bottom: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img{
    width: 100%;
    min-width: 260px;
    border-radius: 8px 8px 0 0;
}

.products-desc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.add-to-cart{
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 1rem;

}